.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

body {
  background-color: #F8F6FC;
  font-family: "Avenir Next", "Nunito Sans", sans-serif;
}

a:hover {
  text-decoration: none;
}

.processing {
  background-color: #0A2F49;
}

.processing .payment-header {
  padding-bottom: 56px;
}

.container {
  max-width: 960px;
  padding-left: 20px;
  padding-right: 20px;
}

.payment-header {
  max-width: 700px;
  padding-bottom: 32px;
}

i {
  border: solid #2D5570;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 6px;
  border-radius: 2px;
}

.left {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}

.step-title {
  color: #2D5570;
  font-weight: 600;
  letter-spacing: 0.5px;
  line-height: 32px;
  margin-bottom: 0;
}

.shadow-card {
  box-shadow: 0 10px 30px 0 rgba(0, 0, 0, 0.08);
}

@media (min-width: 320px) {
  .card-deck .card {
    min-width: 280px;
    max-width: 600px;
    width: 100%;
  }
}

.card {
  border: none;
  border-radius: 6px;
}

.processing .card-header {
  padding-top: 4.5rem;
  padding-bottom: 2rem;
}

.card-header {
  padding: 1.75rem 1.25rem;
  border: none;
  background-color: #FFFFFF;
}

.card-header:first-child {
  border-radius: 7px;
}

.bank-logo {
  height: 64px;
}

.bank-logo-sm {
  height: 48px;
}

.bank-logo img, .bank-logo-sm img {
  height: 2em;
}

.card-body {
  padding: 0.25rem 1.75rem 2.75rem;
}

.card-amount .card-body {
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 0;
}

.processing-amount {
  color: #2D5570;
  font-size: 36px;
  font-weight: 600;
  line-height: 48px;
  text-align: center;
}

.checkout-amount {
  color: #2D5570;
  font-size: 60px;
  font-weight: 600;
  line-height: 72px;
  text-align: center;
}

.card-subtext-sm {
  color: #73757C;
  font-size: 0.875rem;
  letter-spacing: 0.5px;
  line-height: 1.5rem;
  text-align: center;
  margin: 0 2rem 0.75rem;
}

.blue-subtext {
  color: #2D5570;
  font-size: 1rem;
  line-height: 24px;
  margin-left: 0;
  margin-right: 0;
}

.validation-text {
  margin-bottom: 36px;
}

.form-group {
  margin-bottom: 1.75rem;
}

.form-control {
  height: 48px;
  padding-left: 1.2rem;
  padding-right: 1.2rem;
  border: 1px solid #E5EBEE;
  border-radius: 4px;
  background-color: #FFFFFF;
  font-family: Open Sans, Arial, sans-serif;
}

.form-control::-webkit-input-placeholder {
  color: #999;
  opacity: 1;
  font-style: italic;
}

.form-control::-moz-placeholder {
  color: #999;
  opacity: 1;
  font-style: italic;
}

.form-control:-ms-input-placeholder {
  color: #999;
  opacity: 1;
  font-style: italic;
}

.form-control::-ms-input-placeholder {
  color: #999;
  opacity: 1;
  font-style: italic;
}

input.form-control::placeholder {
  color: #999;
  opacity: 1;
  font-style: italic;
}

::placeholder {
  color: #999;
  opacity: 1;
  font-style: italic;
}

.amounts-list {
  margin-top: 0;
  margin-bottom: 2.75rem;
}

.amounts-list li {
  color: #506C78;
  font-size: 1rem;
  font-weight: 500;
  line-height: 24px;
  display: inline-block;
  margin: 0 10px;
}

.card-amount ul.amounts-list {
  margin-bottom: 6px;
}

.card-amount .amounts-list li {
  margin-bottom: 30px;
}

.card-amount .btn-lg {
  font-size: 1.3rem;
}

.btn-lg {
  padding: 1.2rem 1rem;
  font-size: 1rem;
  line-height: 1.3rem;
  border-radius: 2rem;
  min-width: 120px;
}

@media (min-width: 360px) {
  .btn-lg {
    min-width: 130px;
  }
}

@media (max-width: 330px) {
  .btn-lg {
    min-width: 110px;
  }
}

.btn-primary {
  background-color: #518BB3;
  border: none;
}

.btn-primary:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled):hover {
  background-color: #2D5570;
}

.mb-5 {
  margin-bottom: 2rem !important;
}

.company-signature {
  color: #A8A8A8;
  letter-spacing: 0.5px;
}

.company-signature img {
  display: block;
  margin: 0 auto;
}

.company-name {
  font-weight: 500;
  margin-bottom: 0.5rem;
}

.company-address {
  font-size: 0.7rem;
}

/* Processing */

.circle-loader {
  border: 2px solid rgba(0, 0, 0, 0.2);
  border-left-color: #5cb85c;
  animation: loader-spin 1.2s infinite linear;
  position: relative;
  display: inline-block;
  vertical-align: top;
  border-radius: 50%;
  width: 5em;
  height: 5em;
}

.load-complete {
  -webkit-animation: none;
  animation: none;
  border-color: #5cb85c;
  transition: border 500ms ease-out;
}

.load-complete-error {
  -webkit-animation: none;
  animation: none;
  border-color: #EF2121;
  transition: border 500ms ease-out;
}

.checkmark.draw:after {
  animation-duration: 800ms;
  animation-timing-function: ease;
  animation-name: checkmark;
  transform: scaleX(-1) rotate(135deg);
}

.error-x.draw:before {
  animation-duration: 400ms;
  animation-timing-function: ease;
  animation-name: error-x-1;
  transform: skew(40deg);
}

.error-x.draw:after {
  animation-duration: 400ms;
  animation-timing-function: ease;
  animation-name: error-x-2;
  transform: skew(-40deg);
}

.checkmark:after {
  opacity: 1;
  height: 3em;
  width: 1.25em;
  transform-origin: left top;
  border-right: 4px solid #5cb85c;
  border-top: 4px solid #5cb85c;
  content: '';
  left: 1em;
  top: 2.75em;
  position: absolute;
}

.error-x:before, .error-x:after {
  content: '';
  position: absolute;
  width: 0.3em;
  height: 3em;
  left: 2.25em;
  top: 0.9em;
  background: #EF2121;
}

.error-x:before {
  transform: skew(40deg)
}

.error-x:after {
  transform: skew(-40deg);
}

@keyframes loader-spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes checkmark {
  0% {
    height: 0;
    width: 0;
    opacity: 1;
  }
  20% {
    height: 0;
    width: 1.25em;
    opacity: 1;
  }
  40% {
    height: 3em;
    width: 1.25em;
    opacity: 1;
  }
  100% {
    height: 3em;
    width: 1.25em;
    opacity: 1;
  }
}

@keyframes error-x-1 {
  0% {
    transform: skew(0deg)
  }
  100% {
    transform: skew(40deg)
  }
}

@keyframes error-x-2 {
  0% {
    transform: skew(0deg)
  }
  100% {
    transform: skew(-40deg)
  }
}

.processing-status-container {
  height: 3.8rem;
  overflow: hidden;
}

.processing-successful {
  top: 40px;
}

.processing-done {
  animation: processing-done 400ms ease-in;
  margin-top: -20px;
}

.processing-successful-done {
  animation: processing-successful-done 800ms ease-in;
  margin-top: -1.5rem;
}

.fade-out {
  animation: fade-out 400ms linear;
  opacity: 0;
}

@keyframes processing-done {
  0% {
    margin-top: 0;
  }
  100% {
    margin-top: -20px;
  }
}

@keyframes processing-successful-done {
  0% {
    margin-top: 50px;
  }
  100% {
    margin-top: -20px;
  }
}

@keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
